@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");
body {
  background: #070103;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-image: url("../img/bg.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;

  main {
    max-width: 750px;
    h1 {
      font-size: clamp(3rem, 6vw, 3.5rem);
      line-height: 1.2;
    }
    p {
      font-size: clamp(1rem, 3vw, 1rem);
      margin: 2rem 0;
    }
  }

  form {
    max-width: 520px;
    margin: clamp(2rem, 3vw, 4rem) 0;
    display: grid;
    gap: clamp(0.5rem, 2vw, 1rem);

    input,
    button {
      max-height: 100em;
      font-size: clamp(0.85rem, 2vw, 1rem);
      color: #fff;
      font-family: "Poppins";
      padding: 1em 1.5rem;
      border-radius: 3rem;
    }
    input {
      font-weight: 500;
      border: 2px solid #2d292b;
      background: rgba(7, 1, 1, 0.65);
    }
    button {
      font-weight: 600;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(46, 45, 46, 0.6);
      backdrop-filter: blur(2rem);
      transition: background-color ease 300ms;

      &:hover {
        background-color: #0c0c0c;
      }
    }
  }
}

nav {
  margin-top: clamp(1rem, 3vw, 2rem);
  margin-bottom: clamp(2rem, 5vw, 5rem);
}

canvas {
  display: block;
}
